<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Můj blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
    <h1>Tady bude můj blog…</h1>
<p>Po smrti posledního společníka Neda Younga se John Adams přiklonil
    ke křesťanství,
    na jeho principech dále vedl kolonii.
    Pod Adamsovým vedením osada prosperovala, a to i po
    objevení existence kolonie Američany a posléze Brity,
    na které učinila takový dojem, že Britové Pitcairnův
    ostrov nadále podporovali; sám Adams již nebyl za
    vzpouru na Bounty
    postaven před soud a dostal královskou milost.</p>

</body>
</html>
